<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

<title>9.마이페이지 com:path</title>

<!-- 부트스트랩 -->
<link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link href="../css/searchmain.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Poppins:700"
	rel="stylesheet" />
<link href="../css/table.css" rel="stylesheet" />

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<body>
	<!-- 헤더 들어가는 부분 -->
	<header>
		<nav class="navbar navbar-expand-md navbar-light sticky-top bg-white">
			<!-- 컨테이너를 설정하지 않으면 메뉴바가 펼쳐지고 난리난리 납니당 컨테이너 설정 = 1170px 안으로 담겠다 -->
			<a class="navbar-brand" href="http://playdata.io"
				class="navbar-brand"> <img src="img/com_path.png" alt="com:path"
				size="150px">
			</a>
			<button class="navbar-toggler d-lg-none" type="button"
				data-toggle="collapse" data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- justify-content-end 는 컨테이너 끝쪽으로 몰아넣도록 함-->
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarsExampleDefault">
				<ul class="col-8 navbar-nav mr-auto">

					<ul class="col-8 navbar-nav mr-auto">

						<li class="nav-item active"><a class="nav-link" href="#"
							class="nav-link">트렌드</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">기업정보</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="#">채용정보</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="#">스크랩북</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="#">마이페이지</a>
						</li>
					</ul>
				</ul>
				<form class="form-inline">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							data-toggle="collapse" title="검색이 필요하신가요?" href="#colsearch"
							aria-expanded="false" aria-controls="colsearch"> 상세검색 </a></li>
					</ul>
					<input class="form-control mr-sm-2" title="검색어 입력" type="search"
						placeholder="찾기" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
						onclick="location.href=''">Search</button>
				</form>
			</div>
			<!-- modal 구동 버튼 (trigger) -->
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#myModal">Log-in</button>
		</nav>
	</header>
	<!--sidebar-->
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<div class="d-none d-sm-block">
				<ul class="sidebar-nav">
					<li><a href="#"><h3>카테고리</h3></a></li>
					<li><a href="#">직 업 정 보</a></li>
					<li><a href="#">직 무 정 보</a></li>
					<li><a href="#">산 업 정 보</a></li>
					<li><a href="#">채 용 정 보</a></li>
				</ul>
			</div>
		</div>
	</div>

	<hr />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br> <br>
				<hr>
				<br> <br>
				<h3 align="center">워드클라우드 들어가는 부분</h3>
				<ul class="pagination justify-content-center">
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Previous"> <span aria-hidden="true">«</span> <span
							class="sr-only">Previous</span>
					</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active"><a class="page-link" href="#">2<span
							class="sr-only">(current)</span></a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true">»</span> <span
							class="sr-only">Next</span>
					</a></li>
				</ul>
				<br> <br>
				<hr>
				<br> <br>
				<h3 align="center">워드클라우트 버블차트 + 조절바</h3>
				<ul class="pagination justify-content-center">
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Previous"> <span aria-hidden="true">«</span> <span
							class="sr-only">Previous</span>
					</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active"><a class="page-link" href="#">2<span
							class="sr-only">(current)</span></a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true">»</span> <span
							class="sr-only">Next</span>
					</a></li>
				</ul>


				<br> <br>
				<hr>
				<br> <br>

				<h1 class="mt-4">내가 스크랩한 뉴스 카드리스트</h1>

				<c:forEach var="news" items="${requestScope.mynewslist}">
					<div class="card mb-3">
						<div class="card-body">
							<h4>
								${news.title } <a href="#"
									style="text-align: right; font-size: small;">자세히 보기</a>
							</h4>
							<p>contents: ${news.contents }</p>
						</div>

					</div>
				</c:forEach>
				<br> <br>
				<hr>
				<br> <br>
				<div class="col-md-12">
					<h1>채용공고 캘린더들어가는 자리</h1>
				</div>
				<br> <br>
				<hr>
				<br> <br>
				<div id="page-content-wrapper">
					<div class="container-fluid">

						<h1 class="mt-4">Scrap Book 게시판</h1>

						<table class="table table-hover">
							<thead>
								<tr>
									<th>No</th>
									<th>제목</th>
									<th>작성자</th>
									<th>등록일</th>
									<th>삭제</th>
									<th>수정</th>

								</tr>
							</thead>
							<tbody>
								<c:forEach var="msb" items="${requestScope.mysbook}">
									<tr>
										<td>${msb.scrapbook_num}</td>
										<td><a
											href="bulletin_content.do?scrapbook_num=${msb.scrapbook_num}">${msb.title}</a></td>
										<td>${msb.ID}</td>
										<td>${msb.write_time}</td>

										<td><a
											href="bulletin_delete.do?scrapbook_num=${msb.scrapbook_num}">삭제</a></td>
										<td><a
											href="mysbookedit.do?scrapbook_num=${msb.scrapbook_num}">수정</a></td>
									</tr>
								</c:forEach>
							</tbody>
						</table>
					</div>
				</div>
				<br> <br> <br>
				<!-- row end -->
			</div>
			<!-- container end -->
		</div>
		<br> <br>
		<hr>
		<br> <br>
		<!-- 푸터 들어가는 부분 -->
		<hr />

		<div class="container">
			<p class="text-center">
				<small><strong> com:path</strong></small><br> <small>주소
					: 대호 프레조빌 ㆍ 사업자등록번호:123-12-12345 ㆍ 전화 : 010-000-0000</small><br> <small>Copyrightⓒ
					test.com All rights reserved.</small>
			</p>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<!--왜인지 얘가 있어야 닫기 버튼이 닫힘-->
			</div>
			<div class="wrapper fadeInDown" id="myModal">
				<div id="formContent">
					<!-- Tabs Titles -->

					<!-- Icon -->
					<div class="fadeIn first">
						<img src="C:\Bootstrap\compath\img\com_path.png" id="icon"
							alt="User Icon" />
						<h1>로그인 하세요.</h1>
					</div>

					<!-- Login Form -->

					<form>
						<input type="text" id="login" class="fadeIn second" name="login"
							placeholder="username"> <input type="text" id="password"
							class="fadeIn third" name="login" placeholder="password">
						<input type="submit" class="fadeIn fourth" value="Log In">
					</form>

					<!-- Remind Passowrd -->
					<div id="formFooter">
						<a class="underlineHover" href="#">회원가입</a>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
</body>

</html>