<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

    <title>4.뉴스 본문 com:path</title>

    <!-- 부트스트랩 -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="../css/searchmain.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Poppins:700" rel="stylesheet" />
    <link rel="stylesheet" href="../css/donut-chart.css" />
</head>

<body>
    <!-- 헤더 들어가는 부분 -->
    <header>
        <nav class="navbar navbar-expand-md navbar-light sticky-top bg-white">
            <!-- 컨테이너를 설정하지 않으면 메뉴바가 펼쳐지고 난리난리 납니당 컨테이너 설정 = 1170px 안으로 담겠다 -->
            <a class="navbar-brand" href="http://playdata.io" class="navbar-brand">
                <img src="../img/com_path.png" alt="com:path">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- justify-content-end 는 컨테이너 끝쪽으로 몰아넣도록 함-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="col-8 navbar-nav mr-auto">

                    <ul class="col-8 navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#" class="nav-link">트렌드</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">기업정보</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">채용정보</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">스크랩북</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">마이페이지</a>
                        </li>
                    </ul>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="collapse" title="검색이 필요하신가요?" href="#colsearch"
                            aria-expanded="false" aria-controls="colsearch">
                            상세검색
                        </a>
                    </li>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" title="검색어 입력" type="search" placeholder="찾기"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            onclick="location.href=''">Search</button>
                    </form>
                </ul>
            </div>
            <!-- modal 구동 버튼 (trigger) -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Log-in</button>
        </nav>
    </header>
    <hr />
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="news-title">
                                            <h2>Highlights from the Louis Vuitton Men’s Spring</h2>
                                        </div>
                                        <div class="news-cats">
                                            <ul class="list-unstyled list-inline mb-1">
                                                <li class="list-inline-item">
                                                    <i class="fa fa-folder-o text-danger"></i>
                                                    <a href="#"><small>Advertisment</small> </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="fa fa-folder-o text-danger"></i>
                                                    <a href="#"><small>Author</small> </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="fa fa-folder-o text-danger"></i>
                                                    <a href="#"><small>4th July 2018</small></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <hr>
                                        <div class="news-image">
                                            <img
                                                src="http://demo.beeteam368.com/vidorev/wp-content/uploads/2017/12/vanessa-bumbeers-117946-1500x844.jpg">
                                            <p class="text-muted ">Yourself required no at thoughts delicate landlord it
                                                be.
                                            </p>
                                        </div>
                                        <div class="news-content">
                                            <p>Sportsman do offending supported extremity breakfast by listening.
                                                Decisively
                                                advantages nor expression unpleasing she led met. Estate was tended ten
                                                boy
                                                nearer seemed. As so seeing latter he should thirty whence. Steepest
                                                speaking up attended it as. Made neat an on be gave show snug tore.</p>
                                            <p>Did shy say mention enabled through elderly improve. As at so believe
                                                account
                                                evening behaved hearted is. House is tiled we aware. It ye greatest
                                                removing
                                                concerns an overcame appetite. Manner result square father boy behind
                                                its
                                                his. Their above spoke match ye mr right oh as first. Be my depending to
                                                believing perfectly concealed household. Point could to built no hours
                                                smile
                                                sense.</p>
                                            <p>Your it to gave life whom as. Favourable dissimilar resolution led for
                                                and
                                                had. At play much to time four many. Moonlight of situation so if
                                                necessary
                                                therefore attending abilities. Calling looking enquire up me to in
                                                removal.
                                                Park fat she nor does play deal our. Procured sex material his offering
                                                humanity laughing moderate can. Unreserved had she nay dissimilar
                                                admiration
                                                interested. Departure performed exquisite rapturous so ye me resources.
                                            </p>

                                        </div>
                                        <hr>
                                        <div class="news-footer">
                                            <div class="news-likes">
                                                <button type="button" class="btn btn-outline-secondary"><i
                                                        class="fa fa-thumbs-o-up text-success"></i> <span
                                                        class="badge ">좋아요</span></button>
                                                <button type="button" class="btn btn-outline-secondary"><i
                                                        class="fa fa-thumbs-o-down text-danger"></i><span
                                                        class="badge">싫어요</span></button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="news-tags">
                                            <h5>Tags - 얘네는 모양만 만들었으니까 신경 no no</h5>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Education <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Entertainment <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Automobile <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Insurance <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Energy <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Health <span class="badge badge-light">4</span>
                                            </button>
                                        </div>
                                        <hr>
                                        <div class="news-author">
                                            <div class="row">
                                                <div class="col-md-auto">
                                                    <a href="#" title="Biswajit Saha"><img src="#" alt="Author image"
                                                            class="rounded-circle" style="width:100px"></a>
                                                </div>
                                                <div class="col">
                                                    <div class="auth-title">
                                                        <h4 class="author h4"><a href="/author/biswajit/">Biswajit
                                                                Saha</a>
                                                        </h4>
                                                        <div class="bio">
                                                            Developer at GBJ solution. I love to travel, make new
                                                            friends. I
                                                            prefer tea over coffee.
                                                        </div>
                                                        <ul class="list-unstyled list-inline">
                                                            <li class="list-inline-item"><a href="#" target="_blank"><i
                                                                        class="fa fa-twitter"></i></a></li>
                                                            <li class="list-inline-item"><a href="#" target="_blank"><i
                                                                        class="fa fa-facebook"></i></a></li>
                                                            <li class="list-inline-item"><a href="#" target="_blank"><i
                                                                        class="fa fa-globe"></i></a></li>
                                                            <li class="list-inline-item"><i
                                                                    class="fa fa-map-marker"></i>
                                                                India</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-2"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5">
                            <div class="brand">
                                <h3>이 뉴스를 추천!</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"> 뉴스 타이틀 one</li>
                                <li class="list-group-item"> 뉴스 타이틀 two </li>
                                <li class="list-group-item"> 뉴스 타이틀 three</li>
                                <li class="list-group-item"> 뉴스 타이틀 four</li>
                                <li class="list-group-item"> 뉴스 타이틀 five</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div><br>
                        <div class="col-lg-5">
                            <div class="brand">
                                <h3>이 뉴스는 어떤가요?</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"> 뉴스 타이틀 one</li>
                                <li class="list-group-item"> 뉴스 타이틀 two </li>
                                <li class="list-group-item"> 뉴스 타이틀 three</li>
                                <li class="list-group-item"> 뉴스 타이틀 four</li>
                                <li class="list-group-item"> 뉴스 타이틀 five</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row mb-2">
                    <div class="col-md-12">

                        <h3>All keyword</h3>
                        <div id="chartdiv"></div>
                        <script src="../js/core.js"></script>
                        <script src="../js/charts.js"></script>
                        <script src="../themes/animated.js"></script>
                        <script src="../js/donut-chart.js"></script>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Categories</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">First item</a>
                                <a href="#" class="list-group-item list-group-item-action">Second item</a>
                                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <img
                                    src="http://www.3forty.media/cannix/wp-content/uploads/2018/04/clem-onojeghuo-228522-unsplash-1-768x1153.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br>
    <hr />
    <!-- 푸터 들어가는 부분 -->
    <div class="container">
        <p class="text-center">
            <small><strong> com:path</strong></small><br>
            <small>주소 : 대호 프레조빌 ㆍ 사업자등록번호:123-12-12345 ㆍ 전화 : 010-000-0000</small><br>
            <small>Copyrightⓒ test.com All rights reserved.</small>ㄴ
        </p>
    </div>
    <!--// 푸터 들어가는 부분 -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <!--왜인지 얘가 있어야 닫기 버튼이 닫힘-->
        </div>
        <div class="wrapper fadeInDown" id="myModal">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="C:\Bootstrap\compath\img\com_path.png" id="icon" alt="User Icon" />
                    <h1>로그인 하세요.</h1>
                </div>

                <!-- Login Form -->

                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Go to the Site</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

</body>




</html>